[Unit]
Description=Adds communication between KDE and your smartphone
After=graphical-session.target
PartOf=graphical-session.target

[Service]
Type=dbus
BusName=org.kde.kdeconnect
ExecStart=/usr/lib/kdeconnectd

[Install]
WantedBy=graphical-session.target
