[Unit]
Description=swaylock - Screen locker for Wayland
Documentation=man:swaylock(1)

[Service]
Type=forking
ExecStart=/usr/bin/swaylock -f
Restart=on-failure

[Install]
WantedBy=sway-session.target
